{% block title %}
{% endblock %}

{% block body %}
	<footer class="bg-dark text-white text-center py-4">
		<p>&copy; 2025 SHI-FE Organics. Tous droits réservés.</p>
		<p>
			<a href="{{ path('app_cgv') }}" class="text-white">CGV</a>
			|
			<a href="{{ path('app_about') }}" class="text-white">À propos</a>
			|
			<a href="{{ path('app_contact') }}" class="text-white">Contact</a>
		</p>
	</footer>
{% endblock %}


